
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.modal-content, .modal-footer, .modal-body{
    justify-content: center;
    text-align: center;
}
