
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.modal-header {
    justify-content: center;
    h5{
        font-size: 20px;
        font-weight: 600;
    }
}

@media (min-width: 576px){

    .modal-dialog {
        max-width: 500px;
        margin: -1.25rem auto;
    }
}
