
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
p{
    margin: 0px;
    line-height: 17px;
}
a{
    color: #3c4858;
    text-decoration: none;
}
.bg-success{
    background: linear-gradient(60deg,#66bb6a,#388e3c);
}
.bg-info{
    background: linear-gradient(60deg,#26c6da,#0097a7);
}
.bg-warning{
    background: linear-gradient(60deg,#ffa726,#f57c00);
}
.text-danger{
    color: #f44336!important;
}
.back-background, .card-background, .front-background {
    background-position: 50%;
    background-size: cover;
    text-align: center;
}
.back-background .card-body, .card-background .card-body, .front-background .card-body {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}
.back-background:after, .card-background:after, .front-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0,0,0,.56);
    border-radius: 6px;
}
*, :after, :before {
    box-sizing: border-box;
}
.card-title-new, .card-description{
    color: #ffffff;
}
